body {
  background-color: #efe6dd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

/************ CONTACT ***********/
.formContact,
.equipeSection {
  padding: 10vh 5vh;
}
.btn-primary {
  color: #ebc036;
  background-color: black;
  border: none;
}

.btn-primary:hover {
  color: black;
  background-color: #ebc036;
  border: 2px solid black;
  transition: all 0.5s ease;
}

.modal-header h5
{
  font-size: 20px;
}

/************ EQUIPE **************/
.equipeSection {
  position: relative;
  top: 7vh;
  width: 90%;
  margin-left: 5%;
}

.shortResume p span {
  color: #ebc036;
  font-weight: bold;
}

.equipe {
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
}

.shortResume {
  margin: 0 auto;
  position: relative;
  align-items: center;

  text-align: center;
}

.carousel {
  margin-top: 20vh;
  transition-duration: 0.5s;
}

.carousel img {
  height: 25vh;
}
.carousel-inner {
  max-width: 100%;
  margin: 0 auto;
}

.d-block {
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #ebc036;
  height: 75px;
  position: absolute;
  top: 38%;
  width: 10%;
}

.carousel-control-prev {
  left: -2vh;
}

.carousel-control-next {
  right: -2vh;
}

.carouselExampleCaption {
  margin: 0 auto;
  max-width: 915px;
}

.carousel-item {
  height: 400px;
}

.txtallan {
  color: #d31643;
}
.txtfranck {
  color: #22821a;
}
.txtestelle {
  color: #ebc036;
}
.txtdayane {
  color: #1a659e;
}

/***************MEDIA QUERIES********/
@media (min-width: 768px) {
  .carousel-control-prev {
    left: 12vh;
  }

  .carousel-control-next {
    right: 12vh;
  }
  .shortResume {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 10vh;
  }
}

@media (min-width: 1100px) {
  .carousel-control-prev {
    left: 22vh;
  }

  .carousel-control-next {
    right: 22vh;
  }

  .shortResume {
    width: 70%;
    text-align: left;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5vh;
    text-align: center;
  }

  .largescreenalttxt {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
    font-size: 20px;
    font-style: italic;
  }
  .equipe,
  .carouselExampleCaption {
    margin-top: -1vh;
  }
  .txtallan,
  .txtfranck,
  .txtdayane,
  .txtestelle {
    margin-top: 2vh;
    font-size: 30px;
  }
  h5 {
    font-size: 30px;
    font-weight: bolder;
  }

  .carousel img {
    height: 30vh;
    border-radius: 50%;
    box-shadow: 5px 3px 10px black;
    margin-top: 1vh;
  }
  .carousel-caption {
    position: inherit;
    left: 0px;
  }
  .firstpart {
    margin-right: 200px;
  }
}
